* {
    /* border: 1px solid black; */
    font-family: 'Segoe UI';
}

body{
    margin: 0px;
    display: flex;
}

h1 {
    padding: 10px 20px;
    border: 2px solid black;
}

hr{
    width: 95%;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gainsboro;
}

header a, p{
    margin: 0px;
    padding: 30px;
}

.bodiv{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: paleturquoise;
}

.bodiv input{
    width: 100%;
}

#loginbox{
    width: 35%;
    height: 100px;
    display: flex;
    align-items: center;
    border: 2px solid black;
    justify-content: space-evenly;
}

#loginbox button{
    font-weight: bold;
    align-self: center;
}

#loginbox form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#loginbox form div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#signupbox{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#signupbox button{
    font-weight: bold;
    align-self: center;
}

#signupbox form{
    width: 70%;
    display: flex;
}

#signupbox form div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}