* {
    /* border: 1px solid black; */
    font-family: 'Segoe UI';
}

article {
    width: 100%;
    padding: 10px;
    min-height: 20px;
    margin-bottom: 10px;
    background-color: gainsboro;
}

body{
    margin: 0px;
    display: flex;
}


footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    background-color: gainsboro;
}

h1 {
    padding: 10px 20px;
    background-color: gainsboro;
}

hr{
    width: 95%;
}

header{
    top: 0;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: right;
    background-color: gainsboro;
    border-bottom: 1px solid black;
}

header p{
    margin: 0px;
    padding: 20px;
}

.artbody{
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.artdiv{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.artdiv p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.artheader{
    display: flex;
    justify-content: space-evenly;
}

.artopt div{
    display: flex;
    justify-content: space-evenly;
}

.bodiv{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: paleturquoise;
}

.bodiv input{
    width: 100%;
}

.ddhide{
    display: none;
    list-style: none;
}

.ddshow{
    display: block;
    list-style: none;
}

.hide{
    display: none;
}

.show{
    display: block;
}

#copyleft{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#createtask{
    color: white;
    right: 15px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    display: flex;
    cursor: pointer;
    position: fixed;
    font-size: 30px;
    border-radius: 50%;
    align-items: center;
    background-color: gray;
    justify-content: space-around;
}

#descdiv{
    display: flex;
    justify-content: space-between;
}

#err_login{
    margin-top: 10px;
}

#formtable{
    width: 80%;
    max-width: 700px;
}

#headerpad{
    height: 100px;
}

#huser{
    cursor: pointer;
}

#listtasks{
    width: 80%;
    max-width: 700px;
}

#loginbox{
    width: 35%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#loginbox button{
    font-weight: bold;
    align-self: center;
}

#loginbox form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#loginbox form div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#optComp{
    cursor: pointer;
}

#optDel{
    cursor: pointer;
}

#optEdit{
    cursor: pointer;
}

#reloadlist{
    color: white;
    right: 80px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    display: flex;
    cursor: pointer;
    position: fixed;
    font-size: 30px;
    border-radius: 50%;
    align-items: center;
    background-color: gray;
    justify-content: space-around;
}

#signupbox{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#signupbox button{
    font-weight: bold;
    align-self: center;
}

#signupbox form{
    width: 70%;
    display: flex;
}

#signupbox form div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#throbber {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid green;
    border-right: 12px solid blue;
    border-bottom: 12px solid red;
    border-left: 12px solid yellow;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s cubic-bezier(0.5, 1, 0.5, 0) infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.updbody{
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.upddiv{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.upddiv p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.updheader{
    display: flex;
    justify-content: space-evenly;
}

.updopt div{
    display: flex;
    justify-content: space-evenly;
}

#userinfo{
    display: none;
}

#wantaccount{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: gainsboro;
}

#wantlogin{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: gainsboro;
}